<a href="https://colab.research.google.com/github/PlugInRichi/99Ways-to-Build-a-Model/blob/master/ExploratoryDataAnalysis/BanknoteAuthentication-DataSet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

## Download data

In [3]:
import os
from six.moves import urllib

DOWNLOAD_ROOT = "https://archive.ics.uci.edu/ml/machine-learning-databases/00267/"
HOUSING_PATH = os.path.join("/content/drive/MyDrive/HandsOnMachineLearning/datasets", "banknoteAuthentication")
HOUSING_URL = DOWNLOAD_ROOT + "data_banknote_authentication.txt"


def fetch_housing_data(housing_url=HOUSING_URL, housing_path=HOUSING_PATH):
 if not os.path.isdir(housing_path):
  os.makedirs(housing_path)

fetch_housing_data() #Create directory tree

#Path to save file
tgz_path = os.path.join(HOUSING_PATH, "data_banknote_authentication.txt")
#Saving File
urllib.request.urlretrieve(HOUSING_URL, tgz_path)

('/content/drive/MyDrive/HandsOnMachineLearning/datasets/banknoteAuthentication/data_banknote_authentication.txt',
 <http.client.HTTPMessage at 0x7fe957c7c0d0>)

## Description

1. variance of Wavelet Transformed image (continuous)
2. skewness of Wavelet Transformed image (continuous)
3. curtosis of Wavelet Transformed image (continuous)
4. entropy of image (continuous)
5. class (integer)

See [source](https://archive.ics.uci.edu/ml/datasets/banknote+authentication#) for more information

In [17]:
path = os.path.join(HOUSING_PATH, "data_banknote_authentication.txt")

header = ["variance", "skewness", "curtosis", "entropy", "class"]


banknote_authentication = pd.read_csv(path, names=header)
banknote_authentication.head()

   variance  skewness  curtosis  entropy  class
0   3.62160    8.6661   -2.8073 -0.44699      0
1   4.54590    8.1674   -2.4586 -1.46210      0
2   3.86600   -2.6383    1.9242  0.10645      0
3   3.45660    9.5228   -4.0112 -3.59440      0
4   0.32924   -4.4552    4.5718 -0.98880      0

In [20]:
banknote_authentication['class'].value_counts()

0    762
1    610
Name: class, dtype: int64